<div class="page-wrapper">
    <div class="flex-container">
        <div class="event-title-wrapper flex-item">
            <p><%= @event.date&.strftime('%b %d') %></p>
            <h2 class="event-title"><%= @event.name %></h2>
        </div><br/>

        <div class="flex-item flex-container">
            <div class="event-register-wrapper">
                <p class="event-info"><%=@event.ticket_price == 0 ? 'Free' : "#{@event.ticket_price}$"%></p>

                <%= link_to 'Event details', event_path(@event), class: @event_ended ? 'event-ended-details-btn' : 'event-register-btn' %>
            </div>
        </div>
    </div>

    <p style="color: rgb(111, 114, 135); font-size: 0.9em;">Earnings:
        <span class="bold"><%= @event.ticket_price * @event.attendees.count %>$</span>
    </p>

    <h3><% if @event_ended %>Event was attended by:<% else %>Event attendants<% end %></h3>
    <% if @event.attendees.any? %>
        <ul class="list">
            <% @event.attendees.order('username').each do |attendee| %>
                <li><%= link_to attendee.username, user_events_path(attendee) %></li>
            <% end %>
        </ul>
    <% else %>
        <p class="empty-list-msg">
            <% if @event_ended %>Event had no attendants.<% else %>Event has no attendants yet.<% end %>
        </p>
    <% end %>
</div>